@import "../../global.scss";

.education {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("./certificateBg3.png");
  .carousel-wrapper {
    width: max-content;
    margin: 0px auto;
    height: max-content;
    margin-bottom: 40px;
    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235a4c4c57' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235a4c4c57' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }
  }

  @include mobile {
    justify-content: space-around;
  }
  h1 {
    font-size: xx-large;
    height: max-content;

    @include mobile {
      font-size: 20px;
    }
  }
  .container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    @include mobile {
      flex-direction: column;
    }

    .card {
      width: 70%;
      // height: 40%;
      border-radius: 10px;
      background: linear-gradient(to left, #e73259, #ee826f);

      box-shadow: 0px 0px 15px -8px black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      transition: all 1s ease;
      overflow: hidden;
      @include mobile {
        height: 180px;
        overflow: hidden;
        margin: 10px 0;
        background: linear-gradient(to left, #e73259, #ee826f);
      }

      &:hover {
        transform: scale(1.1);
        overflow: hidden;
      }
      h3 {
        font-size: 120%;
        @include mobile {
          font-size: 95%;
        }
      }
    }
  }
}
